.container {
    width: 300px;
    text-align: center;
    margin: 8px;
    position: relative;
    padding-bottom: 58px;
}

.link,  .link:focus, .link:hover {
    color: black;
    text-decoration: none;
}

.title {
    font-weight: 600;
    margin-bottom: 8px;
}

.photo {
    width: 300px;
    height: 300px;
    object-fit: cover;
    border-radius: 5px;
    padding-bottom: 16px;
}

.priceContainer {
    margin-bottom: 8px;
}

.addToCart {
    width: calc(100% - 16px);
    position: absolute;
    bottom: 0;
    left: 8px;
}

.unitsSelectorContainer {
    padding: 0 32px;
}