.toogleButton {
    width: 24px;
    display: flex;
    align-items: center;
    transition: opacity 0.3s;
    position: absolute;
    left: 5%;
}

.toogleButton:active {
    opacity: 0;
}

.navbar {
    padding-left: 5%;
    padding-right: 5%;
    position: absolute !important;
    top: 0 !important;
    width: 100% !important;
    z-index: 500 !important;
}

.navbarContainer {
    padding-left: 0 !important;
    padding-right: 0 !important;
    justify-content: center !important;
}

.navbarBrand {
    margin-left: auto;
    margin-right: auto;
    font-weight: bold;
}

.logo {
    height: 33px;
}

.firstLevel {
    font-size: 1.1rem !important;
    font-weight: 600;
}

.secondLevel {
    padding-left: 10px !important;
    font-weight: 600;
}

.thirdLevel {
    padding-left: 20px !important;
}

.show {
    transform: none;
}

.hide {
    transform: translateX(-100%);
}

.subcategories {
    width: 100%;
    position: absolute;
    top: 49px;
    z-index: 1000;
    background-color: rgba(var(--bs-light-rgb),var(--bs-bg-opacity))!important;
    z-index: 1000;
    padding: 0 5% 0 5%;
    transition: transform .3s ease-in-out;
}

.sidebar {
    width: 100%;
    position: absolute;
    top: 49px;
    background-color: rgba(var(--bs-light-rgb),var(--bs-bg-opacity))!important;
    z-index: 1000;
    padding: 0 5% 0 5%;
    transition: transform .3s ease-in-out;
}

.navbarlinks {
    margin-right: auto;
    display: none;
}

.navbarlink {
    text-decoration: none !important;
    color: black !important;
    padding-left: 0 !important;
    margin-right: 20px;
    display: inline !important;
}
  
.navbarlink:focus {
    color:#0d6efd !important; 
}

.horizontalNavLink {
    padding-left: 0 !important;
}

.horizontalThirdNavLink {
    padding-left: 10px !important;
}

.navbarcol {
    padding-bottom: 8px;
}

@media screen and (min-width: 992px) { 
    .toogleButton {
        display: none;
    }
    .navbarBrand {
        margin-right: 50px;
    }
    .navbarlinks {
        display: block;
    }
    .navbarBrand {
        margin-left: 0;
        margin-right: 40px;
    }
}