.toogleButton {
    width: 24px;
    margin-right: auto;
    display: flex;
    align-items: center;
    transition: opacity 0.3s;
}

.toogleButton:active {
    opacity: 0;
}

.navbar {
    padding-left: 5%;
    padding-right: 5%;
}

.navbarContainer {
    padding-left: 0 !important;
    padding-right: 0 !important;
    justify-content: center !important;
}

.navbarBrand {
    padding: 0 !important;
    margin: 0 !important;
    margin-right: auto !important;
    font-weight: bold;
}

.logo {
    height: 30px;
}

.firstLevel {
    font-size: 1.3rem !important;
    font-weight: 600;
}

.secondLevel {
    padding-left: 10px !important;
    font-size: 1.1rem !important;
    font-weight: 600;
}

.thirdLevel {
    padding-left: 20px !important;
}

.show {
    transform: none;
}

.hide {
    transform: translateX(-100%);
}

.sidebar {
    width: 100%;
    position: absolute;
    top: 49px;
    background-color: rgba(var(--bs-light-rgb),var(--bs-bg-opacity))!important;
    z-index: 1000;
    padding: 0 5% 0 5%;
    transition: transform .3s ease-in-out;
}