.toogleButton {
    padding: 0 !important;
    border: 0 !important;
    margin-right: 16px !important;
    display: flex !important;
    align-items: center !important;
    margin-right: auto !important;
}

.toogleButton span {
    height: 20px !important;
    width: 20px !important;
}

.toogleButton:focus {
    text-decoration: none !important;
    outline: 0 !important;
    box-shadow: none !important;
}

.navbar {
    padding-left: 5%;
    padding-right: 5%;
}

.navbarContainer {
    padding-left: 0 !important;
    padding-right: 0 !important;
    justify-content: center !important;
}

.navbarBrand {
    padding: 0 !important;
    margin: 0 !important;
    margin-right: auto !important;
    font-weight: bold;
}

.logo {
    height: 30px;
}